<div class="profile">
<h1>Hello <%= @user.full_name %></h1>

<h3>Full Name</h3>
<%= @user.full_name %>

<h3>Email</h3>
<%= @user.email %> 
</div>

<p>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar %>
  <% end %>
</p>

<style>
.profile{
  width:400px;
    height: 600px;
    border: 1px solid grey;
    border-radius: 10px;

}
  .image_tag{
    width:300px;
    height:300px;
    
  }
</style>